<?xml version="1.0" ?>
<rules>
	<clear/>
	<rule name="WordPress: http://81.70.90.234_rewrite" patternSyntax="Wildcard">
		<match url="*"/>
		<conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
		</conditions>
		<action type="Rewrite" url="index.php"/>
	</rule>
</rules>
